<div class="homeContainer">
  <div class="homeBoardInner">
    <app-location-top-player></app-location-top-player>
  </div>
  <div class="homeBoardInner">
    <app-tournaments></app-tournaments>
  </div>
</div>
