.homeContainer {
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}
.homeBoardInner {
  color: black;
  width: 50%;
  margin: 1%;
  background-color: #ffff;
  height: 500px;
  border-bottom: solid 3px #2de2e6;
  border-radius: 6px;

}

