<div class="container">
  <div class="purposeInner">
    <app-location-top-player></app-location-top-player>
  </div>
  <div class="purposeInner">
    <app-tournaments></app-tournaments>
  </div>
  <div class="purposeInner">
    <app-tournaments></app-tournaments>
  </div>
</div>
