.purposeContainer {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;

}
.container {
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
  border-bottom: solid 3px #2de2e6;
  background-color: #FFFFFF;
}
.purposeInner {
  color: white;
  width: 30%;
  margin: 1%;
  background-color: #ffff;
  height: 250px;
  border-radius: 6px;
  border: solid 1px #2de2e6;

}
